body {
  font-family: "Manrope", sans-serif;
}

a {
  color: #f9ae16;
  font-weight: 500;
  text-decoration: none;
}

hr {
  margin: 10px auto;
}

footer {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 300;
}

.container {
  max-width: 700px;
  margin: 60px auto 0;
}

.weather-container {
  padding: 25px;
  border: 1px solid #d7d6dd;
  border-radius: 5px;
}
