:root {
  --primary-color: #f9ae16;
  --accent-color: #d32f27;
}

body {
  font-family: "Manrope", sans-serif;
}

a {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
}

hr {
  margin: 0px auto;
}

footer {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 300;
}

.Weather .search-engine-section {
  margin-bottom: 10px;
}

.Weather .current-city {
  font-size: 46px;
  font-weight: 600;
  text-transform: capitalize;
}

.Weather .weather-description {
  font-size: 14px;
  list-style: none;
  line-height: 1.4;
  opacity: 0.7;
  padding: 0;
}

.Weather .accent {
  color: var(--accent-color);
  font-weight: 700;
}

.Weather .weather-icon {
  width: 130px;
}

.Weather .temp {
  position: relative;
  top: 12px;
  right: 5px;
}

.Weather .temp-value {
  font-size: 46px;
  font-weight: 600;
}

.Weather .degrees {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  bottom: 21px;
}

@media (max-width: 576px) {
  .Weather .form-control,
  .Weather .search-button {
    font-size: 10px;
  }

  .Weather .current-city,
  .Weather .temp-value {
    font-size: 28px;
  }

  .Weather .temp {
    top: 5px;
  }

  .Weather .degrees {
    font-size: 10px;
    bottom: 15px;
  }

  .Weather .weather-description {
    font-size: 10px;
  }

  .Weather .weather-icon {
    width: 80px;
  }

  footer {
    font-size: 10px;
  }
}
